tr
{
      height:px;

}
td
{    width: 10px;
padding: 10px;
height: auto;
padding-bottom: 10px;
cursor: pointer;
}

/*button
{float: left;
width: 10%;
padding: 80px;
}*/
#maindiv
{
    column-count: 1;
}
table
{
    cursor: pointer;
 
}
button
{
    cursor: pointer;
}
button:hover
{
    background-color: aquamarine;
}
.col
{
    border:1px black;
    width: 50%;
}
.square {
      width: 120px;
      height: 120px;
      margin: auto;
      border: 1px solid gray;
      border-radius: 6px;
      font-size: 30px;
      text-align: center;
  }
  .square:hover{
    background-color: grey;
  }
  input:hover{
      background-color: grey;
  }